<div class="col-md-4 col-md-offset-4">

<% if @user.errors.any? %>
  <div id="error_explanation">
  <div class = "alert alert-danger"
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this team from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  </div>
<% end %>

<h2> New User </h2>

<%= bootstrap_form_for :user do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.text_field :name %>
  <%= f.submit :class=>'btn btn-primary'%>
<% end %>